.swiper-custom {
    position: relative;

    //   navigation
    &__navigation {
        position: absolute;
        top: calc(50% - 35px);
        z-index: 50;
        width: 100%;
    }

    //   button next, prev
    &__prev-button,
    &__next-button {
        position: absolute;
        opacity: 0.7;

        &:active {
            opacity: 1;
        }
    }

    &__prev-button {
        left: -60px;
    }

    &__next-button {
        right: -60px;
    }

    &__description {
        word-break: break-all;
    }

    .swiper-wrapper {
        padding: var(--o-10);
        display: flex;
        gap: var(--o-35);
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        flex-basis: 31%;
        gap: var(--o-12);
        height: 350px;
        margin-right: 0 !important;

        &:hover,
        &:active {
            cursor: pointer;
        }
    }

    &__swiper-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--o-10);
    }

    .swiper-pagination {
        margin-top: var(--o-40);
        position: static;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: var(--button-default);
        border-radius: 50%;
        transition:
            background-color 0.3s,
            opacity 0.3s;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--button-default);
    }
}