.swiper-custom {
  position: relative;
  //   navigation
  &__navigation {
    position: absolute;
    top: calc(50% - 35px);
    z-index: 50;
    width: 100%;
  }
  //   button next, prev
  &__prev-button,
  &__next-button {
    position: absolute;
  }
  &__prev-button {
    left: -60px;
  }
  &__next-button {
    right: -60px;
  }

  &__description {
    word-break: break-all;
  }
  .swiper-wrapper {
    padding: 10px;
    display: flex;
    gap: 35px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    gap: 15px;
    box-shadow: var(--shadow-neon);
    background: var(--bg-charcoal);
    border: 1px solid var(--border-grey);
    padding: var(--o-24);
    height: 370px;
    margin-right: 0px !important;
  }
  &__swiper-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .swiper-pagination {
    margin-top: 40px;
    position: static;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--text-dim-grey);
    border-radius: 50%;
    transition: background-color 0.3s, opacity 0.3s;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--bg-turquoise);
  }
}
