label {
    display: block;
    font-weight: 700;
    font-size: var(--f-14);
    line-height: 18px;
    margin-bottom: 0px;
}

input,
textarea {
    background-color: var(--block-item-light);
    font-size: var(--f-14);
    line-height: 18px;
    color: var(--text-secondary);
    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: var(--o-8);
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    width: 100%;

    &::-webkit-input-placeholder {
        color: inherit;
        font: inherit;
    }

    &::-moz-placeholder {
        color: inherit;
        font: inherit;
    }

    &:-ms-input-placeholder {
        color: inherit;
        font: inherit;
    }

    &::-ms-input-placeholder {
        color: inherit;
        font: inherit;
    }

    &::placeholder {
        color: inherit;
        font: inherit;
    }

    &:hover {
        border-color: var(--color-stroke);
    }

    &:active,
    &:focus,
    &:focus-visible {
        color: var(--text-primary);
        border-color: var(--accent-orange-secondary);
        outline: none;
    }

    &[type="number"] {
        -webkit-appearance: textfield;
        appearance: textfield;
        -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &.error {
        color: var(--text-secondary);
        border-color: var(--error);
    }

    &.disabled {
        color: var(--color-disabled-text);
        background-color: var(--color-disabled-bg);
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.success {
        color: var(--text-primary);
        border-color: var(--success);
    }
}

form.error input,
form.error textarea {
    color: var(--text-secondary);
    border-color: var(--error);
}

.input-error {
    margin-top: 4px;
    color: var(--error);
    @include flex-v-center;
    display: none;
    -webkit-animation: fade 0.25s ease-in-out;
    animation: fade 0.25s ease-in-out;
    font-weight: 400;
    font-size: var(--f-14);
    line-height: 16px;

    img {
        margin-right: 4px;
    }
}

form.error .input-error {
    display: flex;
}

.registration__form-item.error {
    input {
        color: var(--text-secondary);
        border-color: var(--error);
    }

    .input-error {
        display: flex;
    }
}

.checkbox-item__label {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    font-size: var(--f-16);
    line-height: 24px;
    color: var(--text-secondary);
    margin-bottom: 0;

    @include mobile {
        font-size: var(--f-14);
        line-height: 20px;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border-radius: 4px;
        border: 2px solid var(--color-stroke);
        transition: border-color 0.25s ease-in-out,
            background-color 0.25s ease-in-out;

        &:after {
            content: "";
            position: absolute;
            display: none;
            -webkit-animation: fade 0.25s ease-in-out;
            animation: fade 0.25s ease-in-out;
            left: 7px;
            top: 4px;
            width: 6px;
            height: 9px;
            border: solid #181818;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    &:hover .checkmark {
        border-color: var(--accent-orange-primary);
    }

    &.error .checkmark {
        border-color: var(--error);
    }

    &.error {
        color: var(--error) !important;
    }

    input:checked~.checkmark {
        background-color: var(--accent-orange-primary);
        border-color: var(--accent-orange-primary);

        &:after {
            display: block;
        }
    }
}

.radio-item__label {
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    font-weight: 400;
    font-size: var(--f-16);
    line-height: 24px;
    color: var(--text-secondary);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border-radius: 100%;
        border: 2px solid var(--color-stroke);
        transition: border-color 0.25s ease-in-out,
            background-color 0.25s ease-in-out;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background-color: var(--color-stroke);
            transition: background-color 0.25s ease-in-out;
        }
    }

    &:hover .checkmark {
        border-color: var(--accent-orange-primary);
    }

    input:checked~.checkmark {
        background-color: var(--accent-orange-primary);
        border-color: var(--accent-orange-primary);
    }

    input:checked~.checkmark:after {
        background-color: #181818;
    }
}

.checkbox-item-white__label {
    display: block;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    font-size: var(--f-12);
    line-height: 28px;
    color: #d9d9d9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border-radius: 100%;
        border: 2px solid var(--color-stroke);
        transition: border-color 0.25s ease-in-out,
            background-color 0.25s ease-in-out;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background-color: var(--color-stroke);
            transition: background-color 0.25s ease-in-out;
        }
    }

    &:hover .checkmark {
        border-color: var(--accent-orange-primary);
    }

    input:checked~.checkmark {
        background-color: var(--accent-orange-primary);
        border-color: var(--accent-orange-primary);
    }

    input:checked~.checkmark:after {
        background-color: #181818;
    }
}