label {
  font-family: var(--nunito);
  display: block;
  font-weight: var(--fw-400);
  font-size: var(--f-16);
  line-height: var(--lh-150);
  margin-bottom: 5px;
  color: var(--text-default);
}

textarea {
  min-height: 190px;
  border-radius: 10px;
}

input,
textarea {
  font-family: var(--nunito);
  font-size: var(--f-16);
  font-weight: var(--fw-400);
  line-height: var(--lh-150);
  background: var(--app-main);
  color: var(--text-selected-white);
  padding: var(--o-16);
  border: 1px solid transparent;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  width: 100%;

  &::-webkit-input-placeholder {
    font-family: var(--nunito);
    color: var(--text-placeholder);
    font-size: var(--f-16);
    font-weight: var(--fw-400);
    line-height: var(--lh-150);
  }

  &::-moz-placeholder {
    font-family: var(--nunito);
    color: var(--text-placeholder);
    font-size: var(--f-16);
    font-weight: var(--fw-400);
    line-height: var(--lh-150);
  }

  &:-ms-input-placeholder {
    font-family: var(--nunito);
    color: var(--text-placeholder);
    font-size: var(--f-16);
    font-weight: var(--fw-400);
    line-height: var(--lh-150);
  }

  &::-ms-input-placeholder {
    font-family: var(--nunito);
    color: var(--text-placeholder);
    font-size: var(--f-16);
    font-weight: var(--fw-400);
    line-height: var(--lh-150);
  }

  &::placeholder {
    font-family: var(--nunito);
    color: var(--text-placeholder);
    font-size: var(--f-16);
    font-weight: var(--fw-400);
    line-height: var(--lh-150);
  }

  &:hover {
    border-color: var(--color-stroke);
  }

  &:active,
  &:focus,
  &:focus-visible {
    color: var(--text-primary);
    border-color: var(--border-outline);
    outline: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
