.list-tree {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
        cursor: pointer;
    }

    &__children {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        padding-left: 53px;
    }

    &__children li {
        text-transform: none;
        color: #fff;
        font-size: var(--f-16);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            top: calc(50% - 4px);
            left: -15px;
            background: url("../../../assets/icon/circle-custom.svg");
        }
    }

    &__label {
        text-transform: uppercase;
        font-size: var(--f-16);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}