@import "../../styles/mixins";

.about-me {
    position: relative;
    background-image: url("../../assets/jpeg/skills-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}