@import "../../styles/mixins";

.portfolio {
    position: relative;
    background-image: url("../../assets/jpeg/skills-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__empty {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 50%;
        margin-top: 100px;
    }

    &__button-more {
        font-family: var(--saira);
        color: var(--text-selected-birch);
        text-align: center;
        font-size: var(--f-18);
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        text-transform: lowercase;
        margin-top: 50px;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.7;
        }
    }
}