@import "../../styles/variables";
@import "../../styles/mixins";

.skills-tab {
  &__inner {
    @include flex-v-center;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--o-50);
    @include mobile {
      flex-direction: column;
    }
  }

  &__list-item {
    color: var(--text-default);
    font-family: var(--nunito);
    font-size: var(--f-16);
    font-weight: var(--fw-500);
    line-height: var(--lh-150);
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: var(--o-10);
    position: relative;
    padding-left: var(--o-40);
    transition: 0.5s ease;

    &:hover {
      cursor: pointer;
      transition: 0.5s ease;
      transform: translateY(-20px);

      .skills-tab__item-img {
        cursor: pointer;
        transition: 0.5s ease;
        transform: translate(-20px);
      }
    }

    &-count {
      font-family: var(--scode);
      transition: 1s ease;
      color: var(--text-selected-birch);
      font-size: var(--f-16);
      font-weight: var(--fw-400);
      line-height: var(--lh-100);
      /* 16px */
      text-transform: uppercase;
    }

    &-title {
      transition: 1s ease;
      color: var(--text-selected-white);
      font-family: var(--exo2);
      font-size: var(--f-18);
      font-weight: var(--fw-700);
      line-height: var(--lh-100);
    }

    &-list {
      transition: 1s ease;
      display: flex;
      flex-direction: column;
    }

    &-img {
      transition: 1s ease;
      position: absolute;
      top: 25px;
      left: -22px;
      width: 55.07px;
      height: 50px;
    }
  }
}