/* ANIMATION */


// animation figure
@keyframes figureAnimation {
    from {
        opacity: 0.1;
        filter: drop-shadow(0px 4px 25px rgba(0, 224, 199, 0.1));
        -webkit-filter: drop-shadow(0px 4px 25px rgba(0, 224, 199, 0.1));
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    to {
        opacity: 1;
        filter: drop-shadow(0px 4px 25px rgba(0, 224, 199, 0.75));
        -webkit-filter: drop-shadow(0px 4px 25px rgba(0, 224, 199, 0.75));
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

@-webkit-keyframes figureAnimation {

    // animation figure
    from {
        opacity: 0.1;
        filter: drop-shadow(0px 4px 25px rgba(0, 224, 199, 0.1));
        -webkit-filter: drop-shadow(0px 4px 25px rgba(0, 224, 199, 0.1));
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    to {
        opacity: 1;
        filter: drop-shadow(0px 4px 25px rgba(0, 224, 199, 0.75));
        -webkit-filter: drop-shadow(0px 4px 25px rgba(0, 224, 199, 0.75));
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

@-webkit-keyframes buttonShadowAnimation {

    // animation buttonShadowAnimation
    from {
        filter: none;
    }

    to {
        filter: drop-shadow(0px 0px 15px rgba(0, 224, 199, 0.5));
        -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 224, 199, 0.5));
    }
}

@keyframes buttonShadowAnimation {

    // animation buttonShadowAnimation
    from {
        filter: none;
    }

    to {
        filter: drop-shadow(0px 0px 15px rgba(0, 224, 199, 0.5));
        -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 224, 199, 0.5));
    }
}

@-webkit-keyframes blink-caret {

    //  animation blink
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--text-selected-birch);
    }
}

@keyframes blink-caret {

    //  animation blink
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--text-selected-birch);

    }
}

@-webkit-keyframes typing {

    // animation typing
    10% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes typing {

    // animation typing
    10% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes fade {

    // animation opacity
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {

    // animation opacity
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes showSection {

    // animation section
    from {
        opacity: 0.1;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showSection {

    // animation section
    from {
        opacity: 0.1;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes moveAnimation {

    0%,
    100% {
        transform: translateY(0) translateX(0);
    }

    25% {
        transform: translateY(-20px) translateX(-20px);
    }

    50% {
        transform: translateY(0) translateX(0);
    }

    75% {
        transform: translateY(20px) translateX(20px);
    }
}

@keyframes moveAnimation {

    0%,
    100% {
        transform: translateY(0) translateX(0);
    }

    25% {
        transform: translateY(-20px) translateX(-20px);
    }

    50% {
        transform: translateY(0) translateX(0);
    }

    75% {
        transform: translateY(20px) translateX(20px);
    }
}

@-webkit-keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: left;
    }

    50.1% {
        transform: scaleX(1);
        transform-origin: right;

    }

    100% {
        transform: scaleX(0);
        transform-origin: right;

    }


}

@keyframes borderAnimation {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: left;
    }

    50.1% {
        transform: scaleX(1);
        transform-origin: right;

    }

    100% {
        transform: scaleX(0);
        transform-origin: right;

    }


}

@-webkit-keyframes bounceIconAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        box-shadow: 0px 0px 25px 0px rgba(0, 224, 199, 0.7);
    }
}

@keyframes bounceIconAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        box-shadow: 0px 0px 25px 0px rgba(0, 224, 199, 0.7);
    }
}


/* ANIMATION */