h1,
h2,
h3 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sofia Sans", sans-serif;

    span {
        font-family: "Sofia Sans", sans-serif;
    }
}

h1 {
    color: var(--text-white);
    font-size: var(--f-42);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;

    @include tablet {
        font-size: var(--f-32);
    }

    @include mobile {
        font-size: var(--f-28);
    }
}

h2 {
    color: var(--text-turquoise);
    font-size: var(--f-32);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 5px;

    @include tablet {
        font-size: var(--f-28);
    }

    @include mobile {
        font-size: var(--f-24);
    }
}

h3 {
    color: var(--text-white);
    font-size: var(--f-24);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;

    @include mobile {
        font-size: var(--f-20);
    }
}

h4 {
    color: var(--text-white);
    text-align: center;
    font-size: var(--f-20);
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-transform: uppercase;

    @include mobile {
        font-size: var(--f-18);
    }
}