.tab-menu {
    display: flex;
    justify-content: center;
    gap: var(--o-10);
    margin-bottom: var(--o-50);

    &__button>* {
        font-family: var(--saira);
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--o-4);
        background: var(--button-default);
        border: 1px solid transparent;
        padding: 10px var(--o-24);
        //text
        color: var(--text-default-black);
        font-size: var(--f-16);
        font-weight: var(--fw-600);
        line-height: var(--lh-100);
        text-transform: uppercase;
        // animation
        transition: all 0.3s;

        &:hover {
            color: var(--text-selected-birch);
            background: none;
            border: 1px solid var(--border-button);
        }
    }

    .active {
        // transition: 0.4s ease-in-out;
        color: var(--text-selected-birch);
        background: none;
        border: 1px solid var(--border-button);
    }

    .active &__active-icon {
        padding-left: var(--o-24);

        &::after {
            -webkit-animation: fade 0.8s ease-in-out;
            animation: fade 0.8s ease-in-out;
            opacity: 1;
            left: 0;
        }
    }

    // span
    &__active-icon {
        position: relative;
        transition: 0.2s;

        &::after {
            content: "";
            background: url("../../../assets/icon/code-icon.svg");
            width: 20px;
            height: 20px;
            position: absolute;
            opacity: 0;
            top: -2px;
            left: -25px;
            transition: 0.2s;
        }
    }
}