@import "../../styles/mixins";
.submissionFormWrapper {
  max-width: 500px;
  margin: auto;
  border-radius: 16px;
  position: relative;
}
.submissionForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wrapper {
  border: 10px solid white;
}
.description {
  text-align: center;
  margin: 24px 0;
}
.footerButton {
  width: 100%;
  margin-top: 24px;
}
.lineForm {
  position: absolute;
  top: calc(50% - 300px);
  left: -37px;
}
.contactsItem {
  position: absolute;
  left: -50px;
  top: calc(50% - 50px);
}
.contactsItem > *{
  display: block;
  max-width: max-content;
  @include mb(20px);
}
.contactIcon {
  transition: all 0.4s ease;
  &:hover {
    transform: rotate(360deg);
  }
}

