@import "../../../styles/mixins";

.navbar {
    &__items {
        gap: 50px;
    }

    &__item>* {
        color: var(--text-selected-white);
        font-size: var(--f-16);
        font-weight: var(--fw-700);
        line-height: 24px;
        font-family: var(--saira);
    }
}