@import "../../../styles/mixins";

.navbar {
  @include tablet-sm {
    display: none;
  }

  &__items {
    gap: 50px;
    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__item > * {
    color: var(--text-selected-white);
    font-size: var(--f-16);
    font-weight: var(--fw-600);
    line-height: 24px;
    font-family: var(--exo2);
    text-transform: uppercase;
  }
}