@import "../../styles/mixins.scss";
// mixins

.header {
  background: var(--app-header-footer);
  z-index: 9000;
  position: sticky;
  top: 0;

  .container-header {
    max-width: 90%;
    @include flex-all-sb;
    padding: var(--o-12) 0;

    @include mobile {
      max-width: 100%;
      padding: 5px 20px;
    }
  }

  &__locales {
    gap: var(--o-10);
  }

  &__burger-button {
    display: none;
  }

  @include tablet {
    &__nav-pc {
      display: none;
    }
    &__burger-button {
      display: flex;
      order: 1;
    }
    &__logo {
      order: 2;
    }
    &__locales {
     order: 3;
    }
  }

  &__button {
    font-family: var(--saira);
    padding: var(--o-6);
    border-radius: 8px;
    background-color: var(--button-default);
    // text
    color: var(--text-default-black);
    text-align: center;
    font-size: var(--f-18);
    font-weight: var(--fw-500);
    line-height: 100%;
    text-transform: uppercase;
  }
}